<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.dream.study.base.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zzh.dream.study.base.entity.User">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="DetailDTO" type="com.zzh.dream.study.base.entity.User">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="create_time" property="createTime"/>
        <collection property="accountList" ofType="com.zzh.dream.study.base.entity.MyAccount">
            <result column="did" jdbcType="VARCHAR" property="id" />
            <result column="account" jdbcType="VARCHAR" property="account" />
            <result column="name" jdbcType="VARCHAR" property="name" />
        </collection>
    </resultMap>

    <insert id="insert" parameterType="com.zzh.dream.study.base.entity.User">
    insert into user (id, user_name, create_time
      )
    values (#{user.id}, #{user.userName}, #{user.createTime}
      )
  </insert>
    <select id="selectById" resultMap="BaseResultMap">
        select u.* from user u  where u.id=#{id}
    </select>
    <select id="getUserDetailById" resultMap="DetailDTO">
        select u.id, u.user_name,u.create_time,ma.id as did,ma.account,ma.name
        from user u
        inner join my_account ma on u.user_name = ma.name
        where u.id=#{id}
    </select>
</mapper>
