<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzh.dream.rabbitmqcore.mapper.MessageQueueLogMapper" >
  <resultMap id="BaseResultMap" type="com.zzh.dream.rabbitmqcore.entity.MessageQueueLog" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="reference_id" property="referenceId" jdbcType="VARCHAR" />
    <result column="reference_type" property="referenceType" jdbcType="VARCHAR" />
    <result column="exchange_name" property="exchangeName" jdbcType="VARCHAR" />
    <result column="routing_key" property="routingKey" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="confirm_time" property="confirmTime" jdbcType="DATE" />
    <result column="consume_num" property="consumeNum" jdbcType="INTEGER" />
    <result column="fail_cause" property="failCause" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="is_pushed" property="isPushed" jdbcType="VARCHAR" />
    <result column="is_fail_notify" property="isFailNotify" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="crt_user" property="crtUser" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="DATE" />
    <result column="upd_user" property="updUser" jdbcType="VARCHAR" />
    <result column="upd_date" property="updDate" jdbcType="DATE" />
  </resultMap>
  <insert id="insert" parameterType="com.zzh.dream.rabbitmqcore.entity.MessageQueueLog" >
    insert into message_queue_log (id, reference_id, reference_type, 
      exchange_name, routing_key, message, 
      confirm_time, consume_num, fail_cause, 
      status, is_pushed, is_fail_notify, 
      is_deleted, tenant_id, app_id, 
      crt_user, crt_time, upd_user, 
      upd_date)
    values (#{id,jdbcType=VARCHAR}, #{referenceId,jdbcType=VARCHAR}, #{referenceType,jdbcType=VARCHAR}, 
      #{exchangeName,jdbcType=VARCHAR}, #{routingKey,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, 
      #{confirmTime,jdbcType=DATE}, #{consumeNum,jdbcType=INTEGER}, #{failCause,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{isPushed,jdbcType=VARCHAR}, #{isFailNotify,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{crtUser,jdbcType=VARCHAR}, #{crtTime,jdbcType=DATE}, #{updUser,jdbcType=VARCHAR}, 
      #{updDate,jdbcType=DATE})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, reference_id, reference_type, exchange_name, routing_key, message, confirm_time, 
    consume_num, fail_cause, status, is_pushed, is_fail_notify, is_deleted, tenant_id, 
    app_id, crt_user, crt_time, upd_user, upd_date
    from message_queue_log
  </select>
</mapper>